body {
	padding: 20px;
	background-color: #917c78;
	color: #fff;
	font-family: monospace;
	margin: 0 auto;
}

/*full screen nav */
.full_screen_nav {
	padding: 1rem;
	text-align: center;
}

.full_screen_nav ul {
	display: flex;
	gap: 1rem;
}

.full_screen_nav li {
	flex: 1;
}

.full_screen_nav a {
	color: white;
	text-decoration-line: none;
}

#about p {
	text-align: center;
}

/* end fullscreen nav */

section {
	padding: 20px;
	margin: 20px 0;
}

#connect {
	text-align: center;
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 30px;
	color: #667761;
	font-weight: 800;
	font-style: italic;
}

h2 {
	font-size: 20px;
	color: #3d518c;
	font-weight: 400;
}

#experience li,
#connect li {
	display: block;
}

section,
#experience ul,
#skills ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#connect ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 40px 0 40px;
	gap: 1rem;
}

ul {
	padding-inline-start: 0px;
}

img.github_image,
img.linkedin_image {
	display: inline-block;
	width: 3em;
	height: 3em;
}

form {
	display: flex;
	flex-direction: column;
	width: 500px;
}

textarea#usersMessage {
	height: 120px;
	border-radius: 15px;
}

label,
input {
	padding: 5px;
	border-radius: 15px;
}

button {
	margin-top: 5px;
	padding: 10px;
	width: 100px;
	background-color: #b4a6ab;
	border: none;
	border-radius: 16px;
	width: auto;
}

/* Responsive Mode */
@media (min-width: 577px) {
	.topnav {
		display: none;
	}
}

@media (max-width: 576px) {
	.main_logo {
		display: none;
	}

	.full_screen_nav {
		display: none;
	}

	.topnav {
		overflow: hidden;
		position: relative;
		width: auto;
	}

	.topnav #myLinks {
		display: none;
	}

	.topnav a {
		color: #fff;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		display: block;
	}

	/* Style the hamburger menu */
	.topnav a.icon {
		background: black;
		display: block;
		position: absolute;
		right: 0;
		top: 20px;
	}

	div#myLinks {
		flex-direction: column;
		align-items: flex-end;
	}

	input[type="checkbox"]:not(:checked) + ul {
		display: none;
	}

	form {
		width: auto;
		max-width: 50vw;
	}
}
